:root{
    --bg-button: #f0f0f0;
    --bg-button-active: #ccc;
    --bg-button-operation: #EF233C;
    --bg-button-operation-active: #D90429;
}

.button {
    font-size: 1.4rem;
    color: #2B2D42;
    background-color: var(--bg-button);
    border: none;
    outline: none;
}

.button:active {
    background-color: var(--bg-button-active);
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: var(--bg-button-operation);
    color: #FFF;
}
.button.operation:active {
    background-color: var(--bg-button-operation-active);
}