@font-face {
  font-family: 'Roboto Mono', monospace;
  src: ".\fonts\RobotoMono-Thin.ttf";
}

* {
  font-family: 'Roboto Mono', monospace;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(141,153,174,1);
}